footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Natours logo')
    ul.footer__nav
        li: a(href='#') About us
        li: a(href='#') Download App
        li: a(href='#') Become a guide
        li: a(href='#') Carrers
        li: a(href='https://www.linkedin.com/in/icaro-gomes-motta/' target='_blank') Contact
        li: a(href='https://github.com/SanmoDev/Natours-BackEnd' target='_blank') Project source
    p.footer__copyright &copy; 2021 Ícaro Gomes Motta